#Banner1{
    display: block;
    width: 1400px;
    height: 500px;
}
#question{
    text-align: center;
    display: block;
}
#why{
     display: inline-block;
    
     
}
 #quote{
     display: inline-block;
      
}
#findhub{
    display: inline-block;
}
#Header2{
    text-align: center;
}